header {
    width: 100%;
    height: 400px;
    background-image: url("../img/header_bg.png");
    background-size: cover;
    background-position: center;
}

.header_container h2 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin: auto;
}

.price_cards {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.price_card {
    width: 350px;
    margin: auto;
}

.price_card_title {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.price_card_title h4 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.price_card_title span {
    width: 100%;
    height: 0px;
    border: 1px solid #e9c664;
}

.price_card_text p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.price_banner {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #e9c664;
}

.price_banner_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_title_container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.banner_title_container h4 {
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
}

.banner_title_container h2 {
    font-size: 60px;
    font-weight: 600;
}

.banner_title_container p {
    font-size: 16px;
    font-weight: 400;
}

.banner_title_container button {
    font-size: 16px;
    font-weight: 900;
    padding: 14px;
    background-color: #000;
    color: #fff;
}

.price_banner_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
